body{
   background-image: url("static/images/people.jpg");
   background-repeat: no-repeat; 
    background-size: cover;
    height: 50vh;
    width: 100%;
    color: white;
    font-size: 21px;
}
h1{
    color: orange;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
}
form{
    background-image: url("static/images/greetings.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 object-fit: contain;
 padding: 20px;
 background-position: center;
width: 100%;
height: 100%;
border-radius: 10px;

}

form input{
    width: 50%;
    padding: 5px;
     border: none; 
    margin-bottom: 15px;
    border-radius: 10px;
    opacity: 0.5;

}
input[type=radio]{
    width: 50px;
    height: 30px;
}
.Khan{
    background-color: rgb(192, 154, 29);
    color: black;
    height: 50px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 2px grey;
    display: none;
    padding: 10px;
    text-align: center;
}
table{
    padding-top: 15px;
margin-top: 15px;
border-radius: 40px;
}
label{
    color: rgb(155, 117, 15);
}
